<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <welcome-file-list>
    <welcome-file>/pages/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>UserFilter</filter-name>
  	<filter-class>SystemCoding.filter.AddGradeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserFilter</filter-name>
  	<url-pattern>/pages/tea_main.jsp</url-pattern>
  	<url-pattern>/pages/tea_del.jsp</url-pattern>
    <url-pattern>/pages/tea_update.jsp</url-pattern>
  	<url-pattern>/pages/tea_query.jsp</url-pattern>
  </filter-mapping>
  <!-- <servlet>
  	<servlet-name>GradeServlet</servlet-name>
  	<servlet-class>SystemCoding.control.servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GradeServlet</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping> -->

  <servlet>
  	<servlet-name>Action2Servlet</servlet-name>
  	<servlet-class>SystemCoding.control.servlet.Action2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Action2Servlet</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>

</web-app>